PORT=8080
FE_URI=http://localhost:5000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=Password1234
POSTGRES_DB=capsule_db
POSTGRES_HOST=postgres

DB_URI=postgres://postgres:Password1234@postgres/capsule_db?sslmode=disable
